---
import Section from "@/components/Section.astro"
import projectsData from "@/data/projects.json"
import Reportage from "@/components/svgs/Reportage.astro"
import Connected from "@/components/svgs/Connected.astro"
import Grown from "@/components/svgs/Grown.astro"

interface PortfolioItem {
  title: string
  category: string
  image: string
  description: string
  id: number
}

const componentMap = {
  Reportage,
  Connected,
  Grown,
}

interface Props {
  items?: PortfolioItem[]
}

const { items = projectsData as PortfolioItem[] } = Astro.props
---

<Section
  title="Portfolio"
  description="A collection of my recent creative work and projects"
  id="projects"
>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mx-auto container">
    {
      items.map(({ id, title, category, image, description }) => {
        const SvgComponent = componentMap[image as keyof typeof componentMap]
        return (
          <a
            href={`/projects/${id}`}
            class="hover:scale-105 transition-transform duration-300"
          >
            <article class="flex flex-col items-center gap-4 h-full">
              <div class="w-64 flex-1 flex items-center justify-center">
                {SvgComponent && <SvgComponent />}
              </div>
              <div class="mt-auto">
                <span class="text-sm text-slate-600 font-medium">
                  {category}
                </span>
                <h3 class="text-xl font-semibold text-gray-900">{title}</h3>
                <p class="text-gray-600">{description}</p>
              </div>
            </article>
          </a>
        )
      })
    }
  </div>
</Section>
