---
import BaseLayout from "@/layouts/BaseLayout.astro"
import Header from "@/components/Header.astro"
import Dibujando from "@/components/Dibujando.astro"
---

<BaseLayout
    title="Portfolio"
    description="Explore my creative work and projects"
>
    <h1 class="text-4xl font-bold text-center mt-20">Portfolio Page</h1>
    <Dibujando />
</BaseLayout>
