<header
    class="absolute top-0 w-full z-50 flex items-center justify-between mx-auto py-10 px-4 sm:px-10"
>
    <a href="/" class="flex items-center gap-2">
        <img src="/logo.png" alt="logo" width="45" />
        <h2 class="sm:text-2xl font-bold text-gray-800">Musea Art</h2>
    </a>
    <nav>
        <ul class="flex space-x-2 sm:space-x-4 md:space-x-6">
            <li>
                <a href="/#about" class="text-gray-800 hover:text-gray-800">
                    About
                </a>
            </li>
            <li>
                <a href="/portfolio" class="text-gray-800 hover:text-gray-800">
                    Portfolio
                </a>
            </li>
            <li>
                <a href="/contact" class="text-gray-800 hover:text-gray-800">
                    Contact
                </a>
            </li>
        </ul>
    </nav>
</header>
