<header
    class="absolute top-0 w-full z-50 flex items-center justify-between mx-auto py-6 px-10"
>
    <h2 class="text-2xl font-bold text-gray-800">
        <a href="/"> Musea </a>
    </h2>
    <nav>
        <ul class="flex space-x-6">
            <li>
                <a
                    href="index.html#about"
                    class="text-gray-800 hover:text-gray-800"
                >
                    About
                </a>
            </li>
            <li>
                <a href="portfolio" class="text-gray-800 hover:text-gray-800">
                    Portfolio
                </a>
            </li>
            <li>
                <a href="contact" class="text-gray-800 hover:text-gray-800">
                    Contact
                </a>
            </li>
        </ul>
    </nav>
</header>
