---
const { title, description } = Astro.props
---

<section class="bg-[#FEEACA] px-6 py-20 mx-auto">
    <div class="text-center mb-16">
        <h2 class="text-4xl font-bold mb-4">{title}</h2>
        <p class="text-lg text-gray-600 max-w-2xl mx-auto">{description}</p>
    </div>
    <slot />
</section>
