@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
    font-family: "Mansalva";
    src: url("/fonts/Mansalva/Mansalva-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Josefin Sans";
    src: url("/fonts/Josefin_Sans/JosefinSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Josefin Sans";
    src: url("/fonts/Josefin_Sans/JosefinSans-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Josefin Sans";
    src: url("/fonts/Josefin_Sans/JosefinSans-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Josefin Sans";
    src: url("/fonts/Josefin_Sans/JosefinSans-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Josefin Sans";
    src: url("/fonts/Josefin_Sans/JosefinSans-SemiBold.woff2") format("woff2");
    font-weight: semibold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Josefin Sans";
    src: url("/fonts/Josefin_Sans/JosefinSans-SemiBoldItalic.woff2") format("woff2");
    font-weight: semibold;
    font-style: italic;
    font-display: swap;
}

@theme {
    --font-sans: "Josefin Sans", system-ui, sans-serif;
}

h1,
h2,
.md-container h1,
.md-container h2 {
  font-family: "Mansalva", sans-serif, system-ui, "Josefin Sans";
}
